/* ------Gloabal-------- */

body {
height: fit-content;
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: rgb(207, 202, 202);
margin: 0;
padding: 0;
}


/* Font style */



.topmenu_container >* {
  color: #FFF;
  text-shadow: 3px 2px 3px rgb(156, 156, 156);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}


h1 {
  
  color: #73738F;
  font-size: 30px;
font-family: Roboto;
font-weight: 700;
}

h2 {
  color: #73738F;
font-size: 25px;
font-family: Roboto;
font-weight: 700;

}


h3 {
  color: #4B4B4B;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}





h4 {
  color: #000;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
letter-spacing: 2px;
text-align: center;
padding: 25px 0 50px 0;
}

p {
  color: #4B4B4B;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.old_price {
  color: #F00;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: line-through;
 }

 .new_price {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

 }
.footer_mob h3,
 footer h3 {
  color: #FFF;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 12px;
 }

 .footer_mob,
 footer ul {
  color: #FFF;
font-family: Inter;
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 7px;
 }
 .footer_section_mob h3 {
  font-size: 16px;
}

/* buttons */

.cta_send {
  display: inline-flex;
  width: fit-content;
  padding: 5px;
  box-shadow: 0px 5px 25px grey;
  border-radius: 5px;
  background: var(--green, #95C180);
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  border-style: hidden;
  
}

/* Static */

input {
  box-sizing: border-box;
}

header { 
  background: linear-gradient(#7E7E9B, #5B5B70);
  position: sticky;
  height: 73px;
  top: 0;
  box-shadow: 0px 5px 50px;
  z-index: 1;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: linear-gradient(180deg, #73738F 0%, #5B5B70 100%);
  box-shadow: -5px -5px 25px grey;
  border-radius: 5px 5px 0px 0px;
  margin-top: auto;



}

.footer_mob {

padding-top: 0px;
margin-top: 100px;
background: linear-gradient(180deg, #73738F 0%, #5B5B70 100%);
width: 100%;    

}

.footer_section_social a {
  font-size: 30px;
  padding: 15px 0px 5px 0px;
}

.fab {
  padding: 0px 20px 0px 0px;
  color: #ffffff;
}


.footer_section_social,
.footer_section_signup,
.footer_section_mob {
text-align: center;
padding-top: 20px;
margin: auto;
width: 50%;
}

.footer_section_signup {
  padding: 40px 0px 50px 0px;
}


.footer_left {
width: 100%;
}

.footer_right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.footer_right h3, ul {
  padding: 0px 30px;
}

.footer_left form, h3, ul {
  padding: 0px 30px;
}


.footer_container_desktop {
display: flex;
justify-content: space-between;
max-width: 100%;
margin: auto;
}



.searchbar {
  display: none;
  position: absolute;
  top:70px;
  width: 100%;
  opacity: 0.75;
  border-radius: 0px 0px 5px 5px;
  height: 25px;
}

#search-toggle:checked ~ .searchbar {
  display: block;
}

header input {
  display: none;
}

/* ----------      Bottom Menubar      ----------- */

.menubar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px;
  grid-area: "menubar";
  position: sticky;
  box-shadow: 0px 2px 10px rgb(0, 0, 0); 
  max-height: 80px;
  bottom: 0;
  z-index: 4;
}

.menu_item1,
.menu_item2,
.menu_item3,
.menu_item4 
      {
  background-color: #5B5B70;
  box-shadow: 1px 1px 5px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_item1 img,
.menu_item2 img,
.menu_item3 img,
.menu_item4 img
      {
        height: 27px;
        width: auto;
        filter: drop-shadow(2px 2px 1px black);
  
      }

/* ----------      Header      ----------- */


.searchbox {
  width: 50vh;
  position: absolute;
  top: 30px;
  left: 190px;
  text-align: center;
}

.searchbox form {
  background: grey;
  border-radius: 25px;
  position: relative;
}

.searchbox input {
  width: 100%;
  height: 80%;
  display: flex;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 20px 3px 20px;
  border: none;

}


.searchbox input:focus{
  outline: none;
}


.searchbox button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  border: none;
  background:#95C180;
  font-size: 12px;
  
  
}

.searchbar button i {
  color: rgb(23, 93, 95);
}

.searchbar button:hover i {
  color: rgb(226, 22, 22);
}



.logo__header {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  top: 20px;
  left: 60px; 
}

.search__icon {
  position: absolute;
  bottom: 0px;
  width: auto;
  left: 50%;
  right: 50%;
}
.menu__cart,
.menu__icon {
  position: absolute;
  right: 20px;
  top: 20px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.menu__icon img {
  height: 30px;
  width: auto;
}

.menu__cart img,
.menu__profile img {
  height: 20px;
  width: auto;
}
.menu__profile {
  position: absolute;
  right: 50px;
  top: 21px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}


/*
.main__section {
  background-color: rgb(207, 202, 202);
  top: 0;
  height: auto;
}  */

 
/* Profile*/ 

.profile_h1 {
font-size: 30px;
font-family: Roboto;
text-align: center;

}

.list__profile {
text-align:justify;
font-family: Roboto;
font-size: 20px;
font-weight: 200;
letter-spacing: 2px;
}

.list__profile ul {
  padding: 10px;
}
.profile_png {
  display: block;
  margin: auto;
  padding-bottom: 40px;
  
}

.profile_bg {
  max-width: 80%;
  margin: 0 auto;
  padding: 0px;
  background-color: #EC93C3;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 5px 5px 25px grey;
}

.profile_overlay {
position: relative;
padding: 0%;
margin: 0%;
background-color: rgb(240, 235, 227);
width:inherit;
height: 500px;
flex-shrink: 0;
border-radius: 60px 60px 0px 0px;
box-shadow: 2px -2px 10px grey;
}


/* ------ About --------- */ 


.logo_about {
display: flex;
width: 246px;
height: 159px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin: 20px auto 60px auto;
}

.about__section h2 {
  text-align: center;
}

.about__section p {
  color: #4B4B4B;;
font-family: Roboto;
font-size: 18px;
font-style: normal;
margin: 30px 30px;
}


/* ------ Games ------ */

.container__card {

display: flex;
flex-wrap: wrap;
margin: 20px 20px;

}

.game_card:hover {
  background: linear-gradient(#FFFFFF, #D6EDCB);
  border: solid;  
  border-width: 1px;  
  width: 148px;
  height: 248px;
  
}

.game_card h3 {
  padding: 0px;
  margin: 20px 0px 10px 5px;
}

.game_card h2 {
  padding: 0px;
  margin: 0px 0px 0px 5px;
}

.game_card .new_price {
  color: #429750;
  font-size: 15px;
}


.game_card img  {
  
  margin: 10px 15px 0px 15px;
  max-width: 80%;
  margin-top: 10px;
  border-radius: 10px;
 

}


.game_card {

   margin: 20px;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 5px 5px 25px grey;
   width: 150px;
   height: 250px;
   flex-shrink: 0;
}
.xxl_text,
.xl_text {
  max-width: 60%;
  font-size: 60px;
  padding: 0px;
  margin: -20px -20px 0px 40px;

}

.xxl_text {
  font-size: 80px;
  margin-top: -20px;
}

.gameinfo__container {
  display: flex;
  align-items: center;
  
  width: 70%;
  margin: 20px auto 30px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 25px grey;
}

.gameinfo_img {
 flex: 1;
 text-align: center;
 height: fit-content;
 padding: 0px;
}

.gameinfo_img img {
max-width: 100%;
}

.gameinfo_section {
  flex: 1;
  text-align: center;
  align-items: flex-start;
  width: 100%;
}

.gameinfo_section h2, p{ 
  text-align: left;
}

.button_cart .fa {
  align-content: center;
  padding: 5px 5px 5px 8px;
  font-size: 1.2em;
 
}

.gameinfo_reverse {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.button_cart {
  height: 40px;
  width: 125px;
  border: 1px solid #000;
  background:#95C180;
  box-shadow: -1px 1px 2px rgb(109, 109, 109);

  

}
.gameinfo_cartsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
  
}

.gameinfo_cartsection button {
  justify-self: end;
}

.gameinfo_price {
  text-align: left;

}



/* Mobile*/ 

 .main__section_cart {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 300px;
   }


 .info__section > * {
  padding-left: 20px;
  padding-right: 20px;
 }

 .info__section h3 {
  margin-bottom: 0;
}

.info__section p {
  margin-top: 0;
}


 .form__section {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 5px 5px 25px grey;
 }


.about__section,
 .white__section {
  top: 150px;
 min-width: 80%;
 max-width: 80%;
 height: fit-content;
  margin: 20px auto 0px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 25px grey;
 
 }

 /* Cart page */

 .long_line {

  width: 100%;
  height: 1px;
  background: #000000;
  display: block;
}


.text_right {
  text-align: right;
  padding-right: 50px;
}

.text_left {
  text-align: left;
}

th {
text-align: left;
padding: 5px;
color: #000000;
background: #F1F1F1;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
margin-bottom: 10px;
}

td {
  padding: 10px 5px;
}


 .cart_info {
  display: flex;
  flex: wrap;
 }

 table img {
  max-width: 55px;
  max-height: 70px;
 
 }

 .cart_info p {
  max-width: 70px;
  padding: 5px;
 }

 .input_num {
width: 40px;
height: 30px;
padding: 5px;
 }

 table {
  width: 100%;
  border-collapse: collapse;
 }
 


 .form__style {
  display: flex;
  flex: wrap;
  margin: 20px;
  justify-content: center;
  
 }

 

 .form__style label,
 .form__style input,
 .form__style textarea {
  width: 100%;
 }

 .form__style input::placeholder, textarea::placeholder {
  color: #B3B3E2;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 }

 .form__style input,
 .form__style textarea {
   font-size: 16px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   color: #6b6b75;

 }

 .form__style input,
 .form__style textarea {
  
  flex-basis: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 5px 5px 25px grey;

 }

 .form__style .half {
  flex-basis: calc(50%); 
 }

 .half_first {
  margin-right: 10px;

 }


 
.button {
  margin: 20px;
  display: grid;
  justify-content: end;
  right: 20px;

}


.topmenu_item, 
.topmenu_last {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #7E7E9B;
  background-color: #CBD8E2;
  margin: 0.4px;
  border: solid;
  border-width: 0.2px;
  padding: 2px;

  
}



.topmenu_last{
  border-radius: 0px 0px 5px 0px;
}

.topmenu_item:hover,
.topmenu_last:hover{
  background-color: #95C180;
  border-left: 10px solid;
  border-color: #ffffff;
}





/*------------    Responsive Media Query     ----------------*/
/* small mobile */
/*
@media(max-width: 574){
  
 
}

/* Mobile*/

@media only screen and (max-width: 432px)    {

  .game_card {
  width: 120px;
  height: 230px;

  }

  .game_card img  {
  
    margin: 10px 12px 0px 12px;
 
}

.game_card:hover {
  background: linear-gradient(#FFFFFF, #D6EDCB);
  border: solid;  
  border-width: 1px;  
  width: 118px;
  height: 228px;
  
}

}

@media only screen and (max-width: 600px) {
  
  .menu__cart,
  .menu__profile,
  .topmenu_container,
  .searchbox,
  footer {
    display: none;
  }

.main__section, .main__section_cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
   }

   #sidemenu {
   position: fixed;
   background: #CBD8E2;
   width: 150px;
   height: 500px;
   right: -150px;
   transition: .8s;
   z-index: 5;
   border-radius: 0px 0px 0px 15px;

   }

   .button-side span {
    width: 35px;
    height: 4px;
    background: #ffffff;
    display: block;
    margin-top: 4px;
    z-index: 5;
    
   }

   #sidemenu.active {
    width: 200px;
    right: 0px;
    box-shadow: 2px 5px 10px black;
   }

   #sidemenu.active span {
    margin-top: -6px;
    width: 25px;
   }

   #sidemenu.active .x_top {
    background-color: #95C180;
    transform: rotate(50deg);
    height: 6px;
    transition: 0.8s;
   
    
    }

    #sidemenu.active .button-side {
      padding-top: 15px;
    }
 
    #sidemenu.active .x_bottom {
     height: 6px;
     background-color: #95C180;
     transform: rotate(-50deg);
     transition: 0.8s;
   
    
     
     
     }
     #sidemenu.active .x_hide {
       display: none;
       transition: 0.8s;
       }
       
  
   


   #sidemenu a {
    list-style: none;
    color: #7E7EC5;
    font-size: 15px;
    text-decoration: none;
    width: 70%;
   }

  #sidemenu img {
    max-height: 20px;
    left: 5px;
  
  }


   #sidemenu .button-side {
    position: absolute;
    top: 20px;
    right: 160px;

   }

   .sidemenu_container {
    padding: 50px 40px 10px 20px;
   }

   .topmenu_item_mob {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    margin-top: 50px;

   }

   .topmenu_item_mob img {
    margin-right: 20px;
    left: 10px;
   }

   .gameinfo__container {
    flex-direction: column;

   }

   .gameinfo_section {
    padding: 10px;
   }
  .gameinfo__container,
   .gameinfo_img img {
    border-radius: 25px 25px 0px 0px;
   }
   .gameinfo_reverse {
    flex-direction: column-reverse;
   }
}




 
 
  /* Desktop*/

  @media only screen and (min-width: 600px) {
   
  
    .main__section, .main__section_cart {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;

    }

    .menu__icon {
      display: none;
    }

    .footer_mob {
      display: none;
    }

    .topmenu_container {
      align-items: flex-start;
      display: grid;
      justify-content: flex-end;
      grid-template-columns:  1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      position: sticky;
      width: 50%;
      left: 50%;
      top: 73px;
      height: 40px;
      justify-self: end;
      z-index: 3;
    }

    .footer {
      display: none;
    }
    .footer__desktop {
      grid-area: 2/2 span;
    }

      .content3 {
        grid-column-start: span 3;  
    }


    /* Hide items */
#sidemenu,
    .topmenu_mobile,
    .search__icon,
    .menubar { 
      display: none;
     
    }

  
  }
 