.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
    border: 1px solid #ccc;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    max-width: 200px;
    height: auto; /* Adjust this as needed */
    text-align: center;
  }


.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }